@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Comic Neue', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
}

.featured-in{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -3rem 0rem 2rem;
}

.certification-logos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.certification-logo-image{
  height: 4rem;
  width: auto;
}

.journal-link{
  border: 2px solid #dddddd;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;  
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #353535;
  background-color:rgba(0,0,0,0.08);
}

.journal-link:hover{
  background-color: #ffffff;
  background-color:rgba(255,255,255,0.4);
  color: #1d1d1d;
}

.smallDeviceGap{
  gap : 0.5rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
